<!-- Тут не помешали бы комментарии :) -->

<!DOCTYPE html>
<html lang="ru">

<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Вкладыши для печати</title>
     <link rel="stylesheet" href="../styles/reset.css">
     <link rel="stylesheet" href="../styles/vkl_style.css">
</head>

<body>
     <div class="page">
          {% load qr_code %} {% block title %} {% endblock %} {% block content %} {% for s in diam %}
          <div class="vkladish">
               <h1>ЯКУТСКИЙ ГЕММОЛОГИЧЕСКИЙ ЦЕНТР</h1>
               <h2>gemlab@mail.ru</h2>
               <img src="{% qr_from_text s.slug size=9 border=0.5 %}" alt="qr_code">
               <img src="logo" alt="ygl_logo" class="logo">
               <p>ygemlab.ru/s/{{ s.slug }}</p>
          </div>
          {% endfor %} {% endblock %}
     </div>

</body>

</html>