<!-- Тут не помешали бы комментарии :) -->
{% load static %}
{% load qr_code %}
<!DOCTYPE html>
<html lang="ru">

<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Вкладыши для печати</title>
     <link rel="stylesheet" href="{% static 'qrsert/css/reset.css' %}">
     <link rel="stylesheet" href="{% static 'qrsert/css/vkl_styleminih.css' %}">

</head>

<body>
     <div class="page">

 {% block content %}
         {% for s in diam %}
          <div class="vkladish">
              <div class="customer_block">
                  <div class="no-ie">ИП МАРКОВ Л.В.
                      <h2>Республика Саха (Якутия) г. Якутск,</h2>
                      <h2>Вилюйский тр 4 км. тел. +7(924)167-56-57</h2>
                  </div>
                  <img class="logo" src="{% static 'qrsert/images/logomark.png' %}" alt="logo mark">
              </div>
              <div class="qr_block">

                  {% qr_from_text "ygemlab.ru/s/"|add:s.slug size=3 border=1 %}
                  <p class="slug">
                     ООО "Якутский гемцентр": ygemlab.ru/s/{{ s.slug }}
                  </p>
                  <div class="kod">{{s.kod_t}}</div>
                  <!--


                  -->
              </div>







          </div>
         {% endfor %}
 {% endblock %}
     </div>
</body>
</html>