{% extends 'main/base.html' %}
{% load static%}
{% block title %}
История
{% endblock %}

{% block content %}
 <img src="{% static 'qrsert/images/img2016/UKAZ1994.jpg' %}"  width = "400"  alt="YGL700">
 <br>
 C самого зарождения алмазно-бриллиантового комплекса нашей республики существовала необходимость создания сертификационного центра бриллиантов, как чрезвычайно важной, неотъемлемой составляющей алмазной отрасли.
Начальные работы были заложены в 1993 году в Геммологическом Центре Комитета по драгоценным металлам, камням и валюте при Правительстве Республики Саха (Якутия).
За годы работы накоплен уникальный опыт работы с бриллиантами. Через руки наших экспертов прошли около двух миллионов бриллиантов, суммарной стоимостью более 200 миллионов долларов.

В конце 2007 года по заданию Генерального директора ГУП «Комдрагметалл РС(Я)» К.И. Васильева в Отделе геммологии и комплектации бриллиантов Управления реализации были начаты работы по реализации и внедрению Системы сертификации бриллиантов.

В марте 2008 года, в Федеральном агентстве по техническому регулированию и метрологии России зарегистрирована - добровольная Система сертификации драгоценных камней "Якутская геммологическая лаборатория".
Создана требуемая законодательством инфраструктура Системы сертификации:
- Совет Системы сертификации - главный контролирующий и совещательный орган.
- Реестр экспертов Системы. Существует четко регламентированная процедура, согласно которой эксперты по бриллиантам допускаются к работам по сертификации.
- Реестр органов сертификации и испытательных лабораторий, с регламентированными процедурами допуска к работам по сертификации. - Центральный Орган Системы сертификации
- ООО "Якутский геммологический центр" был оснащен современным лабораторным оборудованием и внедрил систему качества по стандартам ИСО 9001.
Создание отдельного юридического лица - ООО «Якутский геммологический центр», продиктовано законодательством по техническому регулированию. Требуется, чтобы работами по сертификации занимались организации, независимые от производителя, покупателя и продавца сертифицируемого товара.

 Название организации "Якутский Геммологический Центр", выбрано не случайно, Общество является продолжателем пионера алмазно-бриллиантового комплекса Республики Саха (Якутия) - Геммологического Центра Комитета по драгоценным металлам, камням и валюте при Правительстве Республики Саха (Якутия).<br>
<img src="{% static 'qrsert/images/img2016/zdanie_kdm.jpg' %}"  width = "400"  alt="YGL700"> <br>
Якутский Геммологический центр находится в центре Якутска в здании, где расположились: ГУП Комдрагметалл РС(Я), Гохран РС(Я), МинФин РС(Я), выставка-музей Сокровищница Якутии. Помещение, где находится Якутский геммологический центр, изначально, при строительстве здания проектировалось для республиканского сертификационного центра.
<br>
<img src="{% static 'qrsert/images/img2016/diams.jpg' %}"  width = "400"  alt="YGL700"> <br>

{% endblock %}
